<div ng-controller="formCtrl" layout="column" class="md-inline-form">
  <div class="page-title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> ADD &amp; EDIT CATEGORY</h4>
  </div>
  <div class="devider"></div>
  <div class="page-container content-section ">
    <div class="col-lg-6">
      <form name="userForm" class="">
        <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parent Category</label>
            <md-select ng-model="user.category">
              <md-option value="0"> Select Parent </md-option>
              <md-option value="1"> Catrgory 1 </md-option>
              <md-option value="2"> Catrgory 2 </md-option>
              <md-option value="3"> Catrgory 3 </md-option>
              <md-option value="4"> Catrgory 4 </md-option>
              <md-option value="5"> Catrgory 5 </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Category Name</label>
            <input ng-model="user.lastName" required>
            <div ng-messages="userForm.lastName.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Lastname is required.</div>
            </div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Category Identifire</label>
            <input ng-model="user.lastName" required>
            <div ng-messages="userForm.lastName.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Category Identifire is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Category Description</label>
            <input ng-model="user.address" required>
            <div ng-messages="userForm.address.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Address is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>CGST</label>
            <input ng-model="user.address" required>
            <div ng-messages="userForm.address.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">CGST required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>SGST</label>
            <input ng-model="user.address" required>
            <div ng-messages="userForm.address.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">SGST required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>IGST</label>
            <input ng-model="user.address" required>
            <div ng-messages="userForm.address.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">IGST required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Commission</label>
            <input ng-model="user.address" required>
            <div ng-messages="userForm.address.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Commission required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <lf-ng-md-file-input lf-files="filesProgress" progress></lf-ng-md-file-input>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Status :</label>
            <br>
            <br>
            <md-radio-group ng-model="data.group1">
              <md-radio-button value="1" class="">Enable</md-radio-button>
              <md-radio-button value="0" class="">Disable </md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-button class="md-raised md-primary" ng-click="submitFrom()">Submit</md-button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <md-content>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>