<div ng-controller="formCtrl" layout="column" class="md-inline-form">
  <div class="page-title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> EDIT SITE CONFIGURATION</h4> </div>
  <div class="devider"></div>
  <div class="page-container content-section">
    <div class=" col-lg-12">
      <form name="userForm" class="">
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Reset your Password--forgot_password</h3>
              <h4>Hi {name}, Please click on this link to reset your password: {link}</h4>
              <p>Created At-2017-01-23 12:34:08 </p>
            </div>
            <div class="pull-right">
              <a ui-sref="editmessage">
                <md-button class="md-warn md-raised md-hue-2">
                  <md-tooltip> Edit </md-tooltip> 
                  <i class="fa fa-pencil" aria-hidden="true"></i> 
                </md-button>
              </a>
              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Hide </md-tooltip> <i class="fa fa-eye" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Welcome to FABOLIC--sign_up</h3>
              <h4>Hello {name},Welcome to FABOLIC, Please click on {link} to activate your account. DISABLE   EDIT </h4>
              <p>Created At-2017-01-23 12:34:08 </p>
            </div>
            <div class="pull-right">
              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Edit </md-tooltip> <i class="fa fa-pencil" aria-hidden="true"></i> </md-button>
              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Hide </md-tooltip> <i class="fa fa-eye" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Welcome to FABOLIC--account_creation</h3>
              <h4>Hello {name},Welcome to FABOLIC, You account has been created successfully.</h4>
              <p>Created At-2017-01-23 12:34:08 </p>
            </div>
            <div class="pull-right">
              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Edit </md-tooltip>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </md-button>
              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Show </md-tooltip> <i class="fa fa-eye-slash" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Reset your Password--forgot_password</h3>
              <h4>Hi {name}, Please click on this link to reset your password: {link}</h4>
              <p>Created At-2017-01-23 12:34:08 </p>
            </div>
            <div class="pull-right">
              <md-button class="md-warn md-raised md-hue-2"><i class="fa fa-pencil" aria-hidden="true"></i> </md-button>
              <md-button class="md-warn md-raised md-hue-2"><i class="fa fa-eye" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
        <md-list flex>
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Reset your Password--forgot_password</h3>
              <h4>Hi {name}, Please click on this link to reset your password: {link}</h4>
              <p>Created At-2017-01-23 12:34:08 </p>
            </div>
            <div class="pull-right">
              <md-button class="md-warn md-raised md-hue-2"><i class="fa fa-pencil" aria-hidden="true"></i> </md-button>
              <md-button class="md-warn md-raised md-hue-2"><i class="fa fa-eye-slash" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
      </form>
    </div>
  </div>
</div>
